.navbar {
    background-color: var(--primary-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 1px var(--shadow-color);
}

.navbar__list {
    display: flex;
    padding: 16px;
}

.navbar__item {
    width: 64px;
    height: 64px;
    background-color: var(--primary-dark-color-light-contrast);
    margin: 0 16px;
    box-shadow: 0 0 4px 1px var(--shadow-color);
    transition: 0.3s background-color ease-in-out;
}

.navbar__item:hover {
    background-color: var(--primary-dark-color-light-contrast-hover);
}

.navbar__link img {
    width: 64px;
    height: 64px;
    padding: 16px;
    object-fit: contain;
}