extends layouts/full.pug

block title
    title Login page

block extra_css
    link(rel='stylesheet', href='/assets/css/login.css')

block content
    .container.container--full
        h2.subheading Login page
        form.article(method='POST', action='/actions/auth/login')
            input.text(type='text', name='username', placeholder='username...')
            input.text(type='password', name='password', placeholder='password...')
            button.button login
            if isset($error)
                p.danger=$error
            if isset($success)
                p.success=$success
            p.small--text you don't have account? click
                 a.link(href='/register')=' ' . 'here'