extends layouts/full.pug

block title
    title Register page

block extra_css
    link(rel='stylesheet', href='/assets/css/register.css')

block content
    .container.container--full
        h2.subheading Register page
        form.article(method='POST', action='/actions/auth/register')
            input.text(type='text', name='username', placeholder='username...')
            input.text(type='password', name='password', placeholder='password...')
            input.text(type='password', name='password-repeated', placeholder='repeat password...')
            button.button register
            if isset($error)
                p.danger=$error
            p.small--text you already have account? click
                a.link(href='/login')=' ' . 'here'