extends layouts/main.pug

block title
    title Register page

block extra_css
    link(rel='stylesheet', href='/assets/css/register.css')

block content
    .container
        h2.subheading Register page