.container {
    text-align: center;
    padding: 1rem 1rem;
}

.container--full {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 720px) {
    .container {
        width: 66%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1080px) {
    .container {
        width: 33%;
    }
}