nav.navbar
    ul.navbar__list
        li.navbar__item
            a.navbar__link(href='/')
                img(src='/assets/images/home.png')
        li.navbar__item
            a.navbar__link(href='/board')
                img(src='/assets/images/board.png')
        li.navbar__item
            a.navbar__link(href='/about')
                img(src='/assets/images/about.png')