nav.navbar
    ul.navbar__list
        li.navbar__item
            a.navbar__link(href='/')
                img(src='/assets/images/home.png')
        li.navbar__item
            a.navbar__link(href='/board')
                img(src='/assets/images/board.png')
        li.navbar__item
            form(method='POST', action='/actions/auth/logout')
                button.hover-able.transparent.navbar__link
                    img(src='/assets/images/logout.png')