nav.navbar
    ul.navbar__list
        a.navbar__link(href='/')
            li.navbar__item
                img(src='/assets/images/home.png')
        a.navbar__link(href='/board')
            li.navbar__item
                img(src='/assets/images/board.png')
        a.navbar__link(href='/about')
            li.navbar__item
                img(src='/assets/images/about.png')