h2.subheading search by tag
    form.input__container(method='GET', action='/board')
        input.input__text.text(type='text', placeholder='enter tag...' name='tag')
        input.input__label.button(type='submit' value='search')