link(rel='stylesheet', href='/assets/css/variable.css')
link(rel='stylesheet', href='/assets/css/base.css')
link(rel='stylesheet', href='/assets/css/input.css')
link(rel='stylesheet', href='/assets/css/tag.css')
link(rel='stylesheet', href='/assets/css/article.css')
link(rel='stylesheet', href='/assets/css/typography.css')
link(rel='stylesheet', href='/assets/css/navbar.css')
link(rel='stylesheet', href='/assets/css/scrollbar.css')
link(rel='stylesheet', href='/assets/css/container.css')
link(rel='stylesheet', href='/assets/css/utils.css')
